absl-py==0.7.1
astor==0.7.1
boto==2.49.0
boto3==1.9.134
botocore==1.12.134
bz2file==0.98
certifi==2019.3.9
chardet==3.0.4
conda==4.3.16
docutils==0.14
gast==0.2.2
gensim==3.7.2
google-pasta==0.1.5
grpcio==1.20.0
h5py==2.9.0
idna==2.8
jmespath==0.9.4
Keras-Applications==1.0.7
Keras-Preprocessing==1.0.9
Markdown==3.1
numpy==1.16.2
pandas==0.24.2
protobuf==3.7.1
pycosat==0.6.3
python-dateutil==2.8.0
pytz==2019.1
requests==2.21.0
ruamel.yaml==0.15.92
s3transfer==0.2.0
scipy==1.2.1
six==1.12.0
smart-open==1.8.2
tb-nightly==1.14.0a20190419
tensorflow-estimator-2.0-preview==1.14.0.dev2019042100
termcolor==1.1.0
tf-nightly-gpu-2.0-preview==2.0.0.dev20190420
urllib3==1.24.2
Werkzeug==0.15.2
wrapt==1.11.1
